* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
  background-image: linear-gradient(to bottom, rgb(214, 219, 220), white);
}
@media (prefers-color-scheme: dark) {
    body {
      color: white;
      background-image: linear-gradient(to bottom, rgb(20, 22, 27), black);
    }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
